<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" >{{product.name}}</h3>

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img [src]="product.avatar" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Description</h4>
<!--                    <p th:text="${product.description}"></p>-->
<!--                    <h2 class="mt-5" th:text="${product.price} + ' VND'"></h2>-->
<!--                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">-->
<!--                        <a th:href="@{/add/__${product.id}__(action='li')}"><i class="fa fa-shopping-cart"></i></a>-->

<!--                    </button>-->
<!--                    <button class="btn btn-primary btn-rounded">Buy Now</button>-->

                </div>
            </div>
        </div>
    </div>
</div>
